:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;
  background-color: #ffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "poppins";
  src: url("./assets/Poppins-Regular.ttf");
}

@font-face {
  font-family: "poppins-medium";
  src: url("./assets/Poppins-Medium.ttf");
}

@font-face {
  font-family: "poppins-bold";
  src: url("./assets/Poppins-SemiBold.ttf");
}